<h1><%= @question.title %></h1>

<%= link_to_if @question.belongs_to?(current_user), 'Edit', edit_question_path(@question) %>
|
<%= link_to_if @question.belongs_to?(current_user), 'Delete', @question, method: :delete, data: { confirm: 'Are you sure?' } %>

<hr>

<%= sanitize @question.content %>
